body {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */

}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 430px;
  height: 932px;
  background: #fff;
  flex-wrap: wrap;
}

/*** 인덱스 ***/
.img_index1 {
  width: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 346.47px;
  position: relative;
}

.img_index2 {
  position: absolute;
  width: 153px;
  height: 166px;
  left: 127px;
  top: 40px;
}

.layout_index1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 36px;
  gap: 32px;

  height: 207px;
  left: 0px;
  right: 0px;
  bottom: 65px;

  border-radius: 60px 60px 0px 0px;

  text-align: center;
}

.layout_index2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 382px;
  height: 132px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;

  width: 382px;
  background: #12d18e;
  border-radius: 100px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;

  width: 382px;

  /* Primary/100 */
  background: #e7faf4;
  border-radius: 100px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_up > div {
  height: 22px;

  /* body / large / bold
  
  Previous style:
  body/large/bold
  */
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  /* Others / White */
  color: #ffffff;

  /* Button/Shadow 1 */
  text-shadow: 4px 8px 24px rgba(18, 209, 142, 0.25);
}

.btn_sign_in > div {
  height: 22px;

  /* body / large / bold
  
  Previous style:
  body/large/bold
  */
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  /* Primary/500 */
  color: #12d18e;
}

/**************
 회원가입
****/

/* 회원가입 */
.title {
  position: relative;
  width: 329px;
  top: 69px;
  left: 48px;

  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;

  /* or 83px */
  display: flex;
  align-items: center;

  color: #000000;
}

/* Group 17 */
.layout_content {

  height: 91px;

  margin: auto;
}



/* 아이디 */
.content_tlt {
  height: 14px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: left;


  color: #000000;
}


/* 사용가능합니다. */
.input_msg {
  height: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}

.msg_ok {
  color: #7B7B7B;
}


/* 사용이 불가능한 아이디입니다. */
.msg_err {
  color: #EA3939;

}

.content_input_area {
  width: 329px;
  height: 47px;
}

.input_common {
  width: 100%;
  height: 100%;
  background: #F5F4F8;
  border: none;
  border-radius: 10px;
}

.input_with_btn {
  width: 278px;
}

.btn_with_input {
  width: 41px;
  height: 47px;
  border: none;
  border-radius: 10px;
  color: #A1A5C1;

  cursor: pointer;
}

.layout_btn_area {
  display: flex;
  align-items: center;
  padding: 32px 24px 36px;
  gap: 32px;

  left: 0px;
  right: 0px;
  bottom: 65px;

  border-radius: 60px 60px 0px 0px;

  text-align: center;
}

.btn_sub_area {
  display: flex;
  align-items: center;

  width: 382px;
  height: 132px;
}

.btn_confirm {
  width: 100%;
  height: 22px;

  /* Primary/100 */
  background: #e7faf4;
  border-radius: 100px;
  padding: 18px 16px;

  color: #12D18E;

  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}

.btn_confirm2 {
  width: 100%;
  height: 22px;

  /* Primary/100 */
  background: #12D18E;
  border-radius: 100px;
  padding: 18px 16px;

  color: #e7faf4;

  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}