body {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
margin: 0;
  font-family: Urbanist;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  width: 430px;
  height: 932px;
  background: #fff;
  flex-wrap: wrap;
}

/*** 인덱스 ***/
.img_index1 {
  width: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 346.47px;
  position: relative;
}

.img_index2 {
  position: absolute;
  width: 153px;
  height: 166px;
  left: 127px;
  top: 40px;
}

.layout_index1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px 36px;
  gap: 32px;

  height: 207px;
  left: 0px;
  right: 0px;
  bottom: 65px;

  border-radius: 60px 60px 0px 0px;

  text-align: center;
}

.layout_index2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 382px;
  height: 132px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;

  width: 382px;
  background: #12d18e;
  border-radius: 100px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_in {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;

  width: 382px;

  /* Primary/100 */
  background: #e7faf4;
  border-radius: 100px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.btn_sign_up > div {
  height: 22px;

  /* body / large / bold
  
  Previous style:
  body/large/bold
  */
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  /* Others / White */
  color: #ffffff;

  /* Button/Shadow 1 */
  text-shadow: 4px 8px 24px rgba(18, 209, 142, 0.25);
}

.btn_sign_in > div {
  height: 22px;

  /* body / large / bold
  
  Previous style:
  body/large/bold
  */
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2px;

  /* Primary/500 */
  color: #12d18e;
}

/**************
 회원가입
****/

/* 회원가입 */
.title {
  position: relative;
  width: 329px;
  top: 69px;
  left: 48px;

  font-family: Poppins;
  font-size: 35px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;

  /* or 83px */
  display: flex;
  align-items: center;

  color: #000000;
}

/* Group 17 */
.layout_content {

  height: 91px;

  margin: auto;
}



/* 아이디 */
.content_tlt {
  height: 14px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-align: left;


  color: #000000;
}


/* 사용가능합니다. */
.input_msg {
  height: 12px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
}

.msg_ok {
  color: #7B7B7B;
}


/* 사용이 불가능한 아이디입니다. */
.msg_err {
  color: #EA3939;

}

.content_input_area {
  width: 329px;
  height: 47px;
}

.input_common {
  width: 100%;
  height: 100%;
  background: #F5F4F8;
  border: none;
  border-radius: 10px;
}

.input_with_btn {
  width: 278px;
}

.btn_with_input {
  width: 41px;
  height: 47px;
  border: none;
  border-radius: 10px;
  color: #A1A5C1;

  cursor: pointer;
}

.layout_btn_area {
  display: flex;
  align-items: center;
  padding: 32px 24px 36px;
  gap: 32px;

  left: 0px;
  right: 0px;
  bottom: 65px;

  border-radius: 60px 60px 0px 0px;

  text-align: center;
}

.btn_sub_area {
  display: flex;
  align-items: center;

  width: 382px;
  height: 132px;
}

.btn_confirm {
  width: 100%;
  height: 22px;

  /* Primary/100 */
  background: #e7faf4;
  border-radius: 100px;
  padding: 18px 16px;

  color: #12D18E;

  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}

.btn_confirm2 {
  width: 100%;
  height: 22px;

  /* Primary/100 */
  background: #12D18E;
  border-radius: 100px;
  padding: 18px 16px;

  color: #e7faf4;

  font-family: Urbanist;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;

}

/** tender **/

.tender_container {
  display: initial;
}

.image_sub_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  height: 371px;

  background: url('../../image/cempus/tender/frame.png') no-repeat center;
  background-size: contain;
}

.image_sub_title {
  width: calc(100% - 60px);
  padding:50px 30px 20px 30px;

  color: var(--others-white, #FFF);
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
}
.image_sub_title > img {
  position: relative;
  top: 5px;
  left: -5px;
  width: 28px;
  height: 28px;
}

.common_content_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  width: 100%;
  margin-top: 36px;

}

.common_title {
  color: var(--alerts-status-success, #12D18E);
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 28px */
  letter-spacing: 0.2px;
}

.tender_content {
  padding: 12px 20px 20px 20px;
  align-self: stretch;
  border-radius: 24px;
  border: 1px solid var(--greyscale-200, #EEE);
  background: var(--greyscale-50, #FAFAFA);
}

.total_tender {
  align-self: stretch;

  color: var(--greyscale-900, #212121);
  text-align: center;
  /* H2/bold */
  font-family: Urbanist;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 64px */

}
.cmpr_yesterday {
  color: var(--alerts-status-success, #12D18E);
  /* body / large / semibold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.2px;
  text-align: center;
}

.cmpr_yesterday > img {
  position: relative;
  top: 5px;
  left: -5px;
}
.common_content_area > .btn_sub_area {
  height: 115px;
}
.common_content_area > .btn_sub_area > .btn_confirm2 {
  color: var(--others-white, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.2px;
  height: auto;
}

/** tender apply **/

.top_log_area {
  display: flex;
  padding: 30px;
  width: calc(100% - 60px);
  justify-content: space-between;
}

.aply_label {
  display: block;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  border: 2px solid var(--primary-500, #12D18E);

  color: var(--primary-500, #12D18E);
  text-align: center;

  /* body / large / semibold */
  font-family: Urbanist;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  letter-spacing: 0.2px;

  width: 80px;
  margin: 0 auto;
}

.aply_amount {
  width: 382px;
  height: 90px;
  padding: 32px 20px;
  border-radius: 32px;
  border: 3px solid var(--primary-500, #12D18E);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.aply_amount > input, .aply_amount > .won {
  align-self: stretch;
  color: var(--greyscale-900, #212121);
  text-align: center;

  /* H1/bold */
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  border: none;
  width: 200px;
}
.tender_aply_area > .btn_sub_area {
  margin: 0 auto;
  color: var(--others-white, #FFF);
  text-align: center;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.2px;
  flex-direction: column;
  height: 180px;
  justify-content: space-evenly;
}

.common_title2 {
  align-self: stretch;

  color: var(--greyscale-900, #212121);
  text-align: center;

  /* H3/bold */
  font-family: Urbanist;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 51.2px */
}

.common_title3 {
  align-self: stretch;

  color: var(--primary-500, #12D18E);
  text-align: center;

  /* H1/bold */
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 76.8px */
}

.common_content_text {
  color: var(--greyscale-900, #212121);
  text-align: center;

  /* H5/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
}

.common_content_text > .detail {
  color: var(--greyscale-600, #757575);
  text-align: center;

  /* body / xlarge / medium */
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.2px;
}



/** trade **/
.board_list {
    max-width: 382px;
    margin: 0 auto;
}


.trade_want {
width:100%;
margin: 12px 0;
display: flex;
}

.sell_want {
background: rgba(214, 235, 255, 0.30);
}

.buy_want {
background: rgba(255, 0, 0, 0.06);
}

.trade_logo {
width:60px;
height:60px;
}

.trade_logo > img {
width:100%;
height:100%;
}

.trade_price {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 6px;
flex: 1 0 0;
margin: 0 16px;

color: var(--greyscale-900, #212121);
font-family: Urbanist;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 44.8px */
}

.trade_amount {
display: flex;
width: 85px;
flex-direction: column;
justify-content: center;
align-items: flex-end;
gap: 6px;
margin: 0 8px;

color: var(--greyscale-900, #212121);
text-align: right;
/* H6/bold */
font-family: Urbanist;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 28.8px */
}

.half_btn {
    display: inline-block;
    width: 182px;
    padding: 18px 14px;
}

.trade_title {
color: #000;

text-align: center;
font-family: Urbanist;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 160%; /* 19.2px */

text-align:left;
margin-left: 24px;
}

.trade_cash {
    width: 200px;
    border-radius: 32px;
    border: 3px solid var(--primary-500, #12D18E);
    text-align: center;
    margin: 0 auto;
  display: inline-block;
}

.trade_cash > input, .trade_cash > .won {
  align-self: stretch;
  color: var(--greyscale-900, #212121);
  text-align: center;

  /* H1/bold */
  font-family: Urbanist;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  border: none;
  width: 125px;
}

.trade_info_area {
    display: flex;
    width: 100%;

}



.trade_carbon {
    width: 200px;
    border-radius: 32px;
    border: 3px solid var(--primary-500, #12D18E);
    text-align: center;
    margin: 0 auto;

}

.trade_carbon > input, .trade_carbon > .won {
  align-self: stretch;
  color: var(--greyscale-900, #212121);
  text-align: center;

  /* H1/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  border: none;
  width: 120px;
}


.total_cash {
padding: 8px 0;
    margin: 0 auto;
    color: initial;
    width: 210px;
    border-radius: 5px;
}

.div1, .div2 {
width:50%;}

.trade_btn_area {
margin: 15px 0}

.select_trade {
  width: 85px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 10px;
  display: inline-block;
  font-size: 20px;
  line-height: 66px;
  text-align: center;
  margin-left: 15px;
  background: #e7faf4;
  color: var(--primary-500, #12D18E);
  cursor: pointer;
}

.select_trade_active {
  background: var(--primary-500, #12D18E);
  color: white;
  cursor: default;
}

.full_btn {
  display: inline-block;
  width: calc(100% - 30px);
  padding: 18px 14px;
}

.my_info {
  width: 382px;
  height: 110px;

  margin: 0 auto;
}

.my_info_title {
  width: 382px;

  color: var(--greyscale-900, #212121);
  /* H5/bold */
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
}

.my_info_sub_title {
  color: var(--greyscale-600, #757575);
  /* body / medium / semibold */
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.2px;

  align-self: stretch;
}

.my_info_sub_content {
  align-self: stretch;
  color: var(--greyscale-900, #212121);
  /* H6/bold */
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
}

.my_info_content {
  display: flex;
  align-items: center;
  gap: 16px;

  margin: 12px 0;
}

.my_info_content_left {
  display: flex;
  width: 185px;
  align-items: center;
  gap: 16px;
}

.dashboard_my_info_area {
  background: white;
  height: 206px;
  padding: 20px 15px;
  border-radius: 20px;
  margin-top: 50px;
}
.btn_home_area {
  display: flex;
  align-items: center;
  width: 382px;

}
.btn_move {
  width: 214px;
  height: 279.333px;

  /* Primary/100 */
  background: #e7faf4;
  border-radius: 25px;
  padding: 18px 0;

  color: #000;

  text-align: center;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  letter-spacing: 0.2px;

}
.btn_move > img {
  width: 57px;
  margin-top: 58px;
  margin-bottom: 10px;
}

.btn_move_right {
  width: 40%;
  margin-left: 20px;
}

.my_info_mypage {
  height: 160px;
}

.cancel {
  color:red;
  cursor: pointer;
}

.logo, .menu {
  cursor: pointer;
}